@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Open+Sans:wght@400;700;800&family=Work+Sans&display=swap');
body{
   
font-family: 'Work Sans', sans-serif;
}
/* navbar styles starts here */
.nav-container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    min-height: 50px;
    margin: 0 auto;
}
.main-nav{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    gap: 10px;
    width: 50%;
}
.nav-logo img{
    margin-right: 20px;
    height: 50px;
    align-items: center;
    margin-top: 50px;
}
.nav-title{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo p{
    font-weight: 700;
    font-size: 45px ;
    text-align: center;
    
}
.gamer{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-title a{
    text-decoration: none;
    font-size: 25px;
    color: #3C354F;
    font-weight: 500;


}
.follow-us-btn{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 20px 18px;
width: 300px;
flex-shrink: 0;
text-align: center;
display: flex;
justify-content: space-between;
align-items: center;
}
.fa-brands{
    font-size: 30px
}
.fa-brands:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px black ;
}
/* navbar styles ends here */

/* banner styles starts here */
.banner-container{
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    text-align: center;
    width: 50%;
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    margin: 0 auto;
}
.banner-content h2{
    color: #0B0223;
text-align: center;
font-size: 40px;
font-weight: 600;
text-transform: uppercase;
}
.banner-content h1{
    text-align: center;
font-size: 90px;
font-weight: 800;
text-transform: uppercase;

background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-img{
    width: 50%;
   
}
.banner-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.banner-description{
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}
.banner-btn{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
display: inline-flex;
padding: 21px 30px;
align-items: flex-start;
gap: 10px;
margin-top: 20px;
margin-bottom: 20px;
}
.banner-btn:hover{
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 2px 2px 4px black ;
}
#Rogue{
    border-radius: 48px;
background: #4EC5F7;
}

/* banner styles ends here */

/* online games styles starts here */

.online-game-container{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}
.online-game-title{
    color: #0B0223;
text-align: right;
font-size: 48px;
font-weight: 700;

}
.online-game-description{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.game-card{
    border-radius: 16px;
}
.game-card-desc{
    color: #534C64;
font-size: 15px;
font-weight: 300;
}
.play-btn{

    position: relative;
    /* border-radius: 16px; */
    display: inline-flex;
    align-items: center;
    
}

.game-card-img:hover{

    opacity: 0.6;
    box-shadow: 2px 2px 6px black ;
}

.icon-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    text-align: center;
}


.play-btn:hover .icon-container {
    cursor: pointer;
    opacity: 1;
  }

.icon{
  font-size: 50px;
  color: white;
  padding: 5px;
  font-weight: bolder;
  /* background-color: black; */
}

.watch{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 20px;
border: 2px solid brown;
font-weight: bolder;
}
.funny-vid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
/* online games styles ends here */

/* image section styles starts here */
.image-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.img-content{
    text-align: center;
    width: 35%;
}

.position-card{
    position: relative;
}

.small-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 70%;
    bottom: 0;

}
.img-content h2{
text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}
.img-card-desc{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.instant{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* image section styles ends here */

/* game type section styles starts here */

.game-type-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    min-height: 300px;
}


.game-type{
border-radius: 60px;
display: flex;
gap: 10px;
margin: 0 auto;
background-color: white;
padding-left: 10px;
}
.game-type:hover{
    border: 1px solid palevioletred;
    color: aquamarine;
    cursor: pointer;
}
.game-type p:hover{
    color: #F948B2;
}
.game-type p{
    color: #0B0223;
font-size: 20px;
font-weight: 600;
}
.first-line{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}
.second-line{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}


/* game type section styles ends here */

/* footer styles starts here */
.footer-container{
    background: #0B0223;
    min-height: 600px;


}
.footer-logo{
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}
.footer-logo p{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
.footer-text{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
flex-wrap: wrap;

}
.footer-text:hover{
    cursor: pointer;

}
.hover-text:hover{
    color: red;
    opacity: 0.8;
    box-shadow: 2px 2px 4px black;

}
.footer-icon{
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    height: 60px;
    color: white;
}
.foot-icon{
    gap: 30px;
    padding: 30px;
    font-size: 50px;
}
.terms-privacy{
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
display: flex;
justify-content: center;
gap: 80px;
flex-wrap: wrap;
}
.terms-privacy:hover{
    cursor: pointer;

}
.hover-term:hover{
    
    color: chartreuse;
}
.copyright{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top: 80px;
}










/* footer styles ends here  */


/* responsive style */

/* mobile devices */

@media screen and (max-width : 576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-title{
        flex-direction: column;
        gap: 10px;
        
    }
    .nav-title a{
        padding-top: 10px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-container h1{
        font-size: 60px;
    }
    .banner-img , .banner-content{
        width: 100% ;
    }
    .online-game-container{
        flex-direction: column;
    }
    .image-content-container{
        flex-direction: column;
    }
    .position-card img{
        width: 100%;
    }
    .img-content{
        width: auto;
    }
    .first-line{
        padding: 20px;

        
    }
    .game-type{
        padding: 20px;
    }
    .footer-container{
        width: auto;
    }
    .img-card-desc{
        text-align: center;
    }
    .img-content-title{
        text-align: center;
    }
    
    
    
   
   
}

/* for tablet */


@media screen and (min-width :576px) and (max-width : 768px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-title{
        flex-direction: column;
        
    }
    .nav-title a{
        padding-top: 10px;
    }
    .banner-container{
        flex-direction: column;
    }
    .online-game-container{
        flex-direction: column;
    }
    .image-content-container{
        flex-direction: column;
    }
    .position-card img{
        width: 100%;
    }
    .img-content{
        width: auto;
    }
    .game-type-container{
        width: auto;
    }
    .img-card-desc{
        text-align: center;
    }
    .img-content-title{
        text-align: center;
    }
    
}